{% extends 'uhome.html'%}
{%block user%}
<h3 class="display-6 text-dark text-center">My Cart</h3>
<div>
<!-- <h3>hello</h3> -->
<div class="card-columns">
  {%for i in data%}
  <div class="card" style="width:300px">
      {%if i.product.prodimg%}
      <img class="card-img-top" src="{{i.product.prodimg.url}}" alt="card-img">
      {%endif%}
  <div class="card-body">
    <!-- <p class="text-left"> -->
     <!-- <b> {{i.product.productname}}{{i.product.productmodel}}</b></p> -->
    <h3 class="card-title text-left"> <b> {{i.product.productname}}{{i.product.productmodel}}</b></h3>
    <div class="card-content">{{i.product.description}}
    </div>
    <p>Date :<b> {{i.date}}</b></p>
    <a href="{% url 'plorder' i.id %}" class="btn btn-warning">Place Order</a> 
  </div> 
  </div>
<!-- {{i.product.productname}}{{i.product.productmodel}}<br>
{{i.product.price}}<br>
{{i.date}}<br><br> -->

{%endfor%}
{%endblock user%}




