{% extends 'home.html'%}
{% load static%}
{%block home%}
  <!-- <h1 style="font-family: cursive; text-align:center;">Register</h1> -->
  {% if messages %}
  {% for msg in messages %}
  {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}

  <div class="alert alert-success alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>{{msg}}</strong>
  </div>
  {%endif%}
  {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
  <div class="alert alert-danger alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>{{msg}}</strong>
  </div>
  {%endif%}
  {% endfor %}
  {% endif %}
<div class="vh-1000 bg-image" style="background-image: linear-gradient(to bottom right, #D9AFD9,#97D9E1);">
  <!-- <img width="450px" height="1000px" src="{% static 'img\mob.jpg'%}" > -->
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-80">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form action="" method="post" class="text-center">
                {% csrf_token %}

                <div class="form-outline mb-4">
                 
                    {{form.as_p}}
                 
                </div>


                <div class="d-flex justify-content-center">
                  <button type="button"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Have already an account? 
                    <a href="{% url 'logi' %}"class="fw-bold text-body"><u>Login here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock home%}
