{% extends 'home.html'%}
{%block home%}
<style>
    *{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    h1{
        color: white;
    }
    strong{
        color: white;
    }
    form{
        background-color: #323232;
    }
    .btn{
        background-color: #0381fe;
        border-color: #0381fe;
        color: white;
        height: 40px;
        width: 150px;
        border-radius: 20px
    }
</style>
<body  style="background: #1b1b1b;">
<div class="vh-1000 bg-image" >
<h1 class="p-3 mb-2  text-dark text-center">Login </h1>
{% if messages %}
{% for msg in messages %}
 {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}

 <div class="alert alert-success alert-dismissible">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>{{msg}}</strong>
</div>
{%endif%}
{% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
<div class="alert alert-danger alert-dismissible">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>{{msg}}</strong>
</div>
 {%endif%}
{% endfor %}
{% endif %} 
<form action="" method="post" class="text-center">
    {%csrf_token%}
    <table class="table table-hover table-dark">
        {{form.as_table}}
    <tr><td colspan="2"><button class="btn btn-warning">Login</button></td></tr>
    </table>
</form>
</body>
{%endblock home%}